<!DOCTYPE html>
<html ⚡ lang="{{.Site.LanguageCode}}">

<head>
	{{- partial "head/base.html" . -}}
</head>

<body>
	{{- partial "page/auto-ads.html" . -}}
	{{- partial "page/install-sw.html" . -}}
	{{- partial "page/analytics.html" . -}}
	{{- partial "structured-data/base.html" . -}}
	<header class="header">
		{{- partial "header/base.html" . -}}
	</header>
	<main class="main">
		
		
		<nav class="nav">
			<ul class="menu">
				{{ range .Site.Menus.main }}
				<li>
					<span>{{ .Name }}</span>
					{{ if .HasChildren }}
					<span class="drop-icon" for="{{ .Name }}">▾</span>
					<ul class="sub-menu">
						{{ range .Children }}
						<li>
							<span>{{ .Name }}</span>
						</li> 
						{{ end }}
					</ul>
				   {{ end }}
				</li>
				{{ end }}
			</ul>
		</nav>


		{{- block "main" . }}{{- end }}
	</main>
	<footer class="footer">
		{{- partial "footer/base.html" . -}}
	</footer>
	{{ if .IsPage }}
	{{- partial "page/infinite-scroll.html" . -}}
	{{ end }}
</body>

</html>