<div class="h-screen w-screen">
    <div class="h-full w-full text-left relative overflow-hidden bg-no-repeat bg-cover" style="background-image: url('{{ .imgUrl }}'); height: 100%;">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="flex justify-start items-end h-full">
                <div class="text-white uppercase pl-6 pb-20 w-10/12">
                    <h2 class="font-normal text-4xl mb-4">{{ .title }}</h2>
                    <h4 class="font-normal text-base mb-6">{{ .content }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>