<div class="flex justify-center">
    <div class="flex flex-row p-5 rounded-lg bg-white">
        <div class="flex justify-center items-center flex-auto w-1/4">
            <svg class="h-8 w-8 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
        </div>
        <div class="flex flex-col justify-start flex-auto w-3/4">
            <h5 class="text-gray-900 text-2xl font-medium mb-2">Alerting</h5>
            <p class="text-gray-700 text-base font-light mb-4">
                Robust real-time alerting and notifications based on any parameter collected by device.
            </p>
        </div>
    </div>
</div>